
body {
  margin: 0;
  background-color: #090819;
}
header {
  background-color: #090819;
  padding: 5px;
}
header ul {
  float: left;
  color: white;
  align-content: flex-start;
  padding-top: 15px;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #090819;
  padding: 100px 15px;
  float: right;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #090819;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px; 
  border-radius: 4px;
  align-self: center;
}
footer {
  background-color: #090819;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: flex;
  padding: 25px 50px;
  writing-mode: vertical-rl;
  align-content: space-between;
  rotate: 180deg;
  float: right;
  text-align: top;
}

img{
  width: 500px;
  height: 650px;
  justify-content: space-around;
}

.p{
  justify-content: center;
}

.h1{
  justify-content: center;
}